#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
#.*
*.cmd
*.d
#*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#


# output files
OUT/arch
OUT/Makefile
OUT/Module.symvers
OUT/System.map
OUT/arch/
OUT/block/
OUT/crypto/
OUT/drivers/
OUT/firmware/
OUT/fs/
OUT/include/
OUT/init/
OUT/ipc/
OUT/kernel/
OUT/lib/
OUT/mm/
OUT/net/
OUT/scripts/
OUT/security/
OUT/source
OUT/usr/
OUT/vmlinux
OUT/vmlinux.o
OUT/.tmp_System.map
OUT/.tmp_kallsyms1.S
OUT/.tmp_kallsyms1.o
OUT/.tmp_kallsyms2.S
OUT/.tmp_kallsyms2.o
OUT/.tmp_vmlinux1
OUT/.tmp_vmlinux2
OUT/.version
